#notifications-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification {
  padding: 10px;
  border-radius: 3px;
}

.notification-warning {
  background: #fbbdbd;
  border: 1px solid #772222;
}

.notification-info {
  background: #98c8ff;
  border: 1px solid #133964;
}